<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>closetpage</title>
    <a href="{% url 'add_clothing' %}">
    Add Clothing
</a>
</head>
<body>
    <h2>Your Closet</h2>
    <p>The  clothing items are displayed here</p>
    {% for cloth in clothes %}
        <br>{{cloth.name}}
        <a href="{% url 'edit_clothing' cloth.id %}">Edit</a>
        <a href="{% url 'delete_clothing' cloth.id %}">Delete</a>
    {% endfor %}
</body>
</html>