<!DOCTYPE html>
<html>
<head>
    <title>My Outfits</title>
</head>

<body>

    <h2>My Outfits</h2>

    <a href="{% url 'ai_generator' %}">
    <button type="button">✨ AI Outfit Generator</button>
</a>
    <a href="{% url 'add_outfit' %}">Create Outfit</a>
    

    {% for outfit in outfits %}

        <h3>{{ outfit.name }}</h3>

        <ul>
            {% for item in outfit.items.all %}
                <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'edit_outfit' outfit.id %}">Edit</a>

        <a href="{% url 'delete_outfit' outfit.id %}">Delete</a>

    {% empty %}

        <p>You haven't created any outfits yet.</p>

    {% endfor %}

</body>
</html>